html{
    font-size: 100%;
}

body{
    line-height: 1.6;
	overflow-x: hidden;
    background: #ffffff;
	color: #333;
    letter-spacing: .01em;
    transition: all 0.5s ;
    box-sizing: border-box;
    font-family: "教科書ICA R", "Kyoukasho ICA Regular", "Noto Serif JP", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "リュウミン R-KL", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

img{
    width: 100%;
    vertical-align: bottom;
}