.access{
    margin: 250px 0;

    &__contents{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transition: all .3s;

        @include mq("tab"){
            flex-direction: column-reverse;
        }
    }

    &__title{
        width: 50%;
        transition: all .3s;
        @include mq("tab"){
            width: 100%;
        }
        h2{
            writing-mode: vertical-lr;
            font-size: rem(22);
            margin: 0 auto;
            transition: all .3s;

            @include mq("tab"){
                writing-mode: horizontal-tb;
                font-size: rem(22);
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }

    &__local{
        display: flex;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid #333;

        address{
            margin-bottom: 10px;
        }
        h3{
            width: 128px;
            font-size: rem(12);
            @include mq("sp"){
                width: 49px;
            }
        }
    }

    &__time{
        width: 320px;
        display: flex;

        p{
            width: 150px;
        }

        time{
            width: 120px;
        }
    }

    &__hour{
        display: flex;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid #333;
        h3{
            width: 128px;
            font-size: rem(12);

            @include mq("sp"){
                width: 49px;
            }
        }
    }

    &__text{
        margin-left: 30px;
        font-size: rem(13);
        p{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__map{
        padding: 30px 0;
        border-top: 1px solid #333;
    }

}